$main-color: #fff;
$secondary-color: #DC471F;
$main-body-text-color: #fff;
$secondary-body-color: #323232;

$colors: (main: #fff, secondary: #000, main-body: #D10900, secondary-body: #323232);

// create variables for font-sizes!